body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    height: 100vh;
  }

  #drop-area {
    border: 2px dashed #757575;
    padding: 20px;
    margin: 20px;
    width: 100%;
    text-align: center;
    background-color: rgba(117, 117, 117, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
  }

  #file-input {
    display: none;
  }

  #filter-type,
  #size-limit {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #757575;
    border-radius: 4px;
    background-color: rgba(117, 117, 117, 0.2);
  }

  #filter-type {
    color: white;
  }

  #size-limit {
    width: 200px;
  }

  #file-list {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  #file-list th,
  #file-list td {
    padding: 10px;
    border: 1px solid #757575;
  }

  #file-list th {
    background-color: #757575;
    color: white;
  }

  #file-list tbody tr:nth-child(even) {
    background-color: #f0f0f0;
  }